{% extends "base.html" %}
{% block title %}Cookify{% endblock %}
{% block content %}
<head>
    <style>

        .box {
            width: 60%;
            height: 200px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 20px;
            border-radius: 10px;
            cursor: pointer;
            max-width: 300px;
            margin: 20px;
            min-width: 170px;
        }

        .title{
            cursor: pointer;
        }

        .top{
            width: 50%;
            min-width: 360px;
        }

        #search{
            display: block;
        }

    </style>
</head>

<body>
    <div class="main">
        <div class="find" id="here">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <form id="myForm" method="POST">
                {% csrf_token %}
            </form>
            <script>                    
            function scrollToSection() {
                const section = document.getElementById('top');
                section.scrollIntoView({ behavior: 'smooth' });
            }</script>
            <script>
                var j = jQuery.noConflict();
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                        }
                    }
                    }
                    return cookieValue;
                }

                function submitsearch(){
                    var csrftoken = getCookie('csrftoken');
                    var userInput = document.querySelector('input[name="search"]').value;
                    j.ajax({
                        type: "POST",
                        url: "/searchRecipe/",
                        data: { input: userInput },
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function(response) {
                            scrollToSection();
                            console.log(response)
                            if (Array.isArray(response.text) && response.text.length > 0) {
                                document.querySelector('.results').style.display = 'block';
                                document.querySelector('.top').innerText = "Recipe Results";
                                document.querySelector('.results-container').style.display = 'flex';

                                var boxElements = document.querySelectorAll('.box');
                                for (var j = 0; j < boxElements.length; j++){
                                    boxElements[j].style.display = 'none';
                                }

                                for (var i = 0; i < boxElements.length; i++) {
                                    if (response.text[i] && response.text[i].length >= 3) {
                                        boxElements[i].style.display = 'flex';
                                        var imageUrl = response.text[i][2];
                                        boxElements[i].style.backgroundImage = 'url(' + imageUrl + ')';
                                        var titleElement = boxElements[i].querySelector('.title');
                                        if (titleElement) {
                                            titleElement.innerText = response.text[i][1];
                                        } else {
                                            boxElements[i].innerText = 'Default Recipe Title';
                                        }
                                        var recipeId = response.text[i][0];
                                        boxElements[i].setAttribute('onclick', 'loadRecipe(' + recipeId +','+ '"'+response.text[i][1]+'"'+')');
                
                                    } else {
                                        boxElements[i].style.display = 'none';
                                    }
                                }
                            } else {
                                console.log("No results found.");
                                document.querySelector('.results').style.display = 'block';
                                document.querySelector('.top').innerText = "No results found";
                            }
                        },
                        error: function(xhr, status, error) {
                            console.log("No results found.");
                            document.querySelector('.results').style.display = 'block';
                            document.querySelector('.top').innerText = "No results found";
                        }
                    });
                }
            </script>
            <script>
                function loadRecipe(id,titleText){
                    var csrftoken = getCookie('csrftoken');
                    j.ajax({
                        type: "POST",
                        url: "/loadRecipe/",
                        data: { input: id },
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function(response) {
                            scrollToSection();
                            var titleBox = document.querySelector('.recipe-container')
                            var titleHeader = titleBox.querySelector('.top')
                            var title = titleHeader.querySelector('.topTitle')
                            title.innerText = titleText
                            console.log("This is after button click")
                            console.log(response)
                            var recipeContainer = document.querySelector('.flex-container')
                            while (recipeContainer.firstChild) {
                                recipeContainer.removeChild(recipeContainer.firstChild);
                            }
                            // var recipeContainer = document.querySelector('.recipe-container');

                            // Create a div element to hold the ingredients
                            var ingredientsDiv = document.createElement('div');
                            ingredientsDiv.classList.add('recipe-box', 'a');
                            ingredientsDiv.style.maxWidth = '600px';

                            // Create and append the h3 element for Ingredients
                            var ingredientsHeading = document.createElement('h3');
                            ingredientsHeading.style.marginTop = '0px';
                            ingredientsHeading.innerText = 'Ingredients';
                            ingredientsDiv.appendChild(ingredientsHeading);

                            // Create and append the ul element for Ingredients list
                            var ingredientsUl = document.createElement('ul');

                            // Loop through the ingredients list and create list items
                            for (var i = 0; i < response.ingredients.length; i++) {
                                var ingredient = response.ingredients[i];
                                var ingredientLi = document.createElement('li');
                                var ingredientInput = document.createElement('input');
                                ingredientInput.type = 'checkbox';
                                ingredientInput.id = 'ingredient' + (i + 1);
                                var ingredientLabel = document.createElement('label');
                                ingredientLabel.htmlFor = 'ingredient' + (i + 1);
                                ingredientLabel.innerText = ingredient;
                                ingredientLi.appendChild(ingredientInput);
                                ingredientLi.appendChild(ingredientLabel);
                                ingredientsUl.appendChild(ingredientLi);

                                // Add an ingredient divider except for the last item
                                if (i !== response.ingredients.length - 1) {
                                    var ingredientDivider = document.createElement('hr');
                                    ingredientDivider.classList.add('ingredient-divider');
                                    ingredientsUl.appendChild(ingredientDivider);
                                }
                            }

                            // Append the ingredients list to the ingredientsDiv
                            ingredientsDiv.appendChild(ingredientsUl);

                            // Append the ingredientsDiv to the recipeContainer
                            recipeContainer.appendChild(ingredientsDiv);

                            // Create a div element to hold the instructions
                            var instructionsDiv = document.createElement('div');
                            instructionsDiv.classList.add('recipe-box', 'b');

                            // Create and append the h3 element for Instructions
                            var instructionsHeading = document.createElement('h3');
                            instructionsHeading.style.marginTop = '0px';
                            instructionsHeading.innerText = 'Instructions';
                            instructionsDiv.appendChild(instructionsHeading);

                            // Create and append the ol element for Instructions list
                            var instructionsOl = document.createElement('ol');

                            // Loop through the instructions list and create list items
                            set = 1;
                            for (var i = 0; i < response.instructions.length; i++) {
                                var instruction = response.instructions[i];
                                var instructionLi = document.createElement('li');
                                instructionLi.classList.add('instruct');

                                if (i !== response.instructions.length - 1) {
                                    instructionLi.innerText = instruction;
                                } else {
                                    instructionLi.innerText = 'Enjoy!';
                                }
                                
                                // Add an instruction divider
                                var instructionDivider = document.createElement('br');
                                var instructionBreak = document.createElement('br');
                                var instructionHr = document.createElement('hr');
                                instructionHr.classList.add('ingredient-divider');
                                if (set != 1){
                                    instructionsOl.appendChild(instructionBreak);
                                    instructionsOl.appendChild(instructionHr);
                                    instructionsOl.appendChild(instructionDivider);
                                } else{
                                    set = 0;
                                }
                                
                                instructionsOl.appendChild(instructionLi);
                            }

                            // Append the instructions list to the instructionsDiv
                            instructionsDiv.appendChild(instructionsOl);

                            // Append the instructionsDiv to the recipeContainer
                            recipeContainer.appendChild(instructionsDiv);

                            // Show the recipe container
                            document.querySelector('.results').style.display = 'none';
                            document.querySelector('.results-container').style.display = 'none';
                            document.querySelector('.recipe-container').style.display = 'block';

                        },
                        error: function(xhr, status, error) {
                            console.log("Error");
                        }
                    });
                }
            </script>
            <script>
                function hideRecipe(){
                    scrollToSection();
                    document.querySelector('.results').style.display = 'block';
                    document.querySelector('.results-container').style.display = 'flex';
                    document.querySelector('.recipe-container').style.display = 'none';
                }
            </script>

            <div class="findTitle">
                <h1 style="margin-bottom: 0px;">
                    Find a Recipe
                </h1>
                <div class="search-container">
                    <form id="search" onsubmit="submitsearch(); return false;" style="margin-bottom: 20px;">
                        <input type="text" placeholder='Search "Chicken Alfredo Pasta"' name="search" style="width: 40%; min-width: 130px; margin-bottom: 10px;">
                        <button class="find search-container button" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="results">
            <h1 class="top"></h1>
        </div>
        <div class="results-container">
            <button class="box a" >
                <div class="title">Recipe A Title</div>
            </button>
            <button class="box b">
                <div class="title">Recipe B Title</div>
            </button>
            <button class="box c">
                <div class="title">Recipe C Title</div>
            </button>
            <button class="box d">
                <div class="title">Recipe D Title</div>
            </button>
            <button class="box e">
                <div class="title">Recipe E Title</div>
            </button>
            <button class="box f">
                <div class="title">Recipe F Title</div>
            </button>
            <button class="box g">
                <div class="title">Recipe G Title</div>
            </button>
            <button class="box h">
                <div class="title">Recipe H Title</div>
            </button>
            <button class="box i">
                <div class="title">Recipe I Title</div>
            </button>
            <button class="box j">
                <div class="title">Recipe J Title</div>
            </button>
            <button class="box k">
                <div class="title">Recipe K Title</div>
            </button>
            <button class="box l">
                <div class="title">Recipe L Title</div>
            </button>
            <button class="box m">
                <div class="title">Recipe M Title</div>
            </button>
            <button class="box n">
                <div class="title">Recipe N Title</div>
            </button>
            <button class="box o">
                <div class="title">Recipe O Title</div>
            </button>
            <button class="box p">
                <div class="title">Recipe P Title</div>
            </button>
            <button class="box q">
                <div class="title">Recipe Q Title</div>
            </button>
            <button class="box r">
                <div class="title">Recipe R Title</div>
            </button>
        </div>
        <div class="recipe-container">
            
            <div class="top" id="top">
                <button class="title" onclick="hideRecipe()" style="background-color: var(--font-color); color: var(--primary-color); width: 100px;">Back</button>
                <h1 class="topTitle"></h1>
            </div>
            
            <div class="flex-container" style="margin-bottom: 20px;">
            </div>
        </div>
    </div>
</body>
{% endblock %}