{% extends "base.html" %}
{% block title %}Cookify{% endblock %}
{% block content %}
<head>
    <style>



        #password{
            display: block;
        }

    </style>
</head>

<body>
    <div class="main">
        <div class="find" id="here">
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <form id="myForm" method="POST">
                {% csrf_token %}
            </form>

            <script>
                var j = jQuery.noConflict();
            
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
            
                function checkLogin() {
                    var csrftoken = getCookie('csrftoken');
                    var usernameInput = document.getElementById('usernameInput').value;
                    var passwordInput = document.getElementById('passwordInput').value;
                    j.ajax({
                        type: "POST",
                        url: "/index/",  // Use the actual URL path for the index view
                        data: {
                            username: usernameInput,
                            password: passwordInput
                        },
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function (response) {
                            j('.username-error').text('');
                            j('.password-error').text('');
                            if (response.text === 'wrongUser') {
                                j('.username-error').text('This username does not exist.');
                            } else if (response.text === 'wrongPass') {
                                j('.password-error').text('Wrong password.');
                            } else {
                                document.open();
                                document.write(response.html);
                                document.close();
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log("Error with login.");
                            console.log(xhr);
                            console.log(status);
                            console.log(error);
                        }
                    });
                }
            </script>
            <div class="findTitle">
                <h1 style="margin-bottom: 0px;">
                    Login
                </h1>
                <h6 style="margin-bottom: 10px;margin-top: 0px;">
                    To use Find a Recipe, login into an authorized account.
                </h6>
                <div class="search-container">
                    <form id="login" onsubmit="checkLogin(); return false;" style="margin-bottom: 20px;">
                        <input type="text" placeholder='Enter Username' name="username" id="usernameInput" style="width: 40%; min-width: 130px;">
                        <p class="username-error" style="color: red; font-size: 12px; margin-top: 0px;"></p>
                
                        <input type="password" placeholder='Enter Password' name="password" id="passwordInput" style="width: 40%; min-width: 130px;">
                        <p class="password-error" style="color: red; font-size: 12px; margin-top: 0px;"></p>
                
                        <button class="find search-container button" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}