{% extends "base.html" %}
{% block title %}Beef Dinner Recipes{% endblock %}
{% block content %}
<head>
    <style>

        .a{
            background-image: url('https://lh3.googleusercontent.com/pw/AIL4fc-2y0pHpAi3hE5UygMSGBmtOBXBjqyNHBzJcSn5KUxNFvI44OKQg6K69i-AUZWpWY_lUL3YHJxoemgAsxBhzcB9EcH-ZQnL8ptuyl6v10_LIM-OdFk=w2400');
            background-size: cover;
            background-repeat: no-repeat;
        }

    </style>
</head>

<body>
    <div class="main">
        <h1 class="top">Beef Dinner Recipes</h1>
        <div class="flex-container">
            <a class="box a" href="/tacoSoup">
                <div class="title">
                    Granny's Taco Soup
                </div>
            </a>
        </div>
    </div>
</body>
{% endblock %}