{% extends "base.html" %}
{% block title %}Italian Sausage Dinner Recipes{% endblock %}
{% block content %}
<head>
    <style>
        
        .a{
            background-image: url('https://lh3.googleusercontent.com/pw/AIL4fc-Sw2OXDdTelAA19_p-B6HzoxnHi-xDN2vbArs5ilpjfiSjwO_XV5uvd1QMkvPx1zvfaUjjL6W1d7OB4QlMI0qZK46y09sNwYiO_drSuIZoUZSKYII=w2400');
            background-size: cover;
            background-repeat: no-repeat;
        }

    </style>
</head>

<body>
    <div class="main">
        <h1 class="top">Italian Sausage Dinner Recipes</h1>
        <div class="flex-container">
            <a class="box a" href="/lunch">
                <div class="title">
                    Mendicino Pasta
                </div>
            </a>
        </div>
    </div>
</body>
{% endblock %}