{% extends "base.html" %}
{% block title %}Chicken Tortellini{% endblock %}
{% block content %}
<head>
    <style>

        .flex-container > div {
            margin: 20px;
        }

        .box{
            display: inline;
        }
        
        .box:hover {
            opacity: 1;
            transform: translateY(0);
            box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
        }

    </style>
</head>

<body>
    <div class="main">
        {% include 'back_button.html' %}
        <h1 class="top">Chicken Tortellini</h1>
        <div class="flex-container">
            <div class="box a" style="max-width: 600px;">
                <h3 style="margin-top: 0px;">
                    Ingredients
                </h3>
                <ul>
                    <!-- Add input elements with type checkbox and labels for each list item -->
                    <li><input type="checkbox" id="ingredient1"><label for="ingredient1">1 Pound Tortellini</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient2"><label for="ingredient2">1 Tablespoon Butter</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient3"><label for="ingredient3">1 Clove Garlic</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient4"><label for="ingredient4">2 Tablespoons Flour</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient5"><label for="ingredient5">1 1/2 Cup Heavy Whipping Cream</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient6"><label for="ingredient6">1/2 Teaspoon Salt</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient7"><label for="ingredient7">1/3 Cup Grated Parmesan</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient8"><label for="ingredient8">Baby Spinach</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient9"><label for="ingredient9">Sun Dried Tomatoes</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient10"><label for="ingredient10">1 lb chicken breast</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient11"><label for="ingredient11">Lemon Pepper</label></li>
                </ul>
            </div>
            <div class="box b">
                <h3 style="margin-top: 0px;">
                    Instructions
                </h3>
                <ol>
                    <li class="instruct">Cook chicken on medium heat seasoning with lemon pepper.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Boil tortellini.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Melt butter.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Add garlic and cook for 1 minute.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Sprinkle flour in.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Slowly whisk heavy cream in.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Add salt and parmesan.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Stir in spinach, tomatoes, and chicken.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Enjoy!</li>
                    <br>
                </ol>
            </div>
        </div>
    </div>
</body>
{% endblock %}