{% extends "base.html" %}
{% block title %}Mom's King Ranch Casserole - {% endblock %}
{% block content %}
<head>
    <style>

        .flex-container > div {
            margin: 20px;
        }

        .box{
            display: inline;
        }
        
        .box:hover {
            opacity: 1;
            transform: translateY(0);
            box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
        }

    </style>
</head>

<body>
    <div class="main">
        {% include 'back_button.html' %}
        <h1 class="top">Mom's King Ranch Casserole</h1>
        <div class="flex-container">
            <div class="box a" style="max-width: 600px;">
                <h3 style="margin-top: 0px;">
                    Ingredients
                </h3>
                <ul>
                    <!-- Add input elements with type checkbox and labels for each list item -->
                    <li><input type="checkbox" id="ingredient1"><label for="ingredient1">1/4 Cup Butter</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient2"><label for="ingredient2">1 Medium Size Green Bell Pepper (Chopped)</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient3"><label for="ingredient3">1 Medium Size Yellow Onion</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient4"><label for="ingredient4">2 Cans Cream of Chicken</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient5"><label for="ingredient5">2 Cans Rotel</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient6"><label for="ingredient6">2-3 Cooked Chicken Breasts (Chopped)</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient7"><label for="ingredient7">12 Corn Tortillas</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient8"><label for="ingredient8">2 Cups Shredded Cheddar Cheese</label></li>
                </ul>
            </div>
            <div class="box b">
                <h3 style="margin-top: 0px;">
                    Instructions
                </h3>
                <ol>
                    <li class="instruct">Melt butter in a large saucepan. Add bell pepper and onion. Cook over medium heat until tender.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Blend in cream of chicken, rotel, and chopped chicken.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Layer 4 tortillas in a 9x13 dish. Top with 1/3 of the tomato mixture, then 1/3 of the shredded cheese. Repeat 2 more times.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Bake at 325 degrees for 40 minutes or until bubbling.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Enjoy!</li>
                    <br>
                </ol>
            </div>
        </div>
    </div>
</body>
{% endblock %}