{% extends "base.html" %}
{% block title %}Breakfast Casserole - {% endblock %}
{% block content %}
<head>
    <style>

        .flex-container > div {
            margin: 20px;
        }
        
        .box{
            display: inline;
        }

        .box:hover {
            opacity: 1;
            transform: translateY(0);
            box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
        }

    </style>
</head>

<body>
    <div class="main">
        {% include 'back_button.html' %}
        <h1 class="top">Breakfast Casserole</h1>
        <div class="flex-container">
            <div class="box a" style="max-width: 600px;">
                <h3 style="margin-top: 0px;">
                    Ingredients
                </h3>
                <ul>
                    <!-- Add input elements with type checkbox and labels for each list item -->
                    <li><input type="checkbox" id="ingredient1"><label for="ingredient1">2 pounds pork sausage</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient2"><label for="ingredient2">12 eggs</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient3"><label for="ingredient3">1 cup sour cream (light or regular)</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient4"><label for="ingredient4">1/4 cup milk</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient5"><label for="ingredient5">salt and pepper</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient6"><label for="ingredient6">4 green onions</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient7"><label for="ingredient7">1/2 green bell pepper, diced</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient8"><label for="ingredient8">1/2 red bell pepper, diced</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient9"><label for="ingredient9">2 cups shredded cheddar cheese</label></li>
                </ul>
            </div>
            <div class="box b">
                <h3 style="margin-top: 0px;">
                    Instructions
                </h3>
                <ol>
                    <li class="instruct">Preheat oven to 350 degrees.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Spray a 9x13 pan with cooking spray.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Combine the eggs, sour cream, milk, cheese, and salt and pepper in a large bowl. Mix on low speed with electric mixers, just until combined.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Heat a large skillet over medium heat. Add sausage and cook until browned, breaking it into small pieces with a wooden spoon as it cooks.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Drain most of the grease and add the sausage to the bowl with the egg mixture.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Add the bell peppers and onion to the same skillet the sausage was cooked in and sauté for 2-3 minutes.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Add the sautéed bell peppers and onion to the bowl with the eggs and stir everything to combine.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Pour the mixture into the greased 9x13 pan and bake for 35-50 minutes or until the edges are set and the center is just barely jiggly.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Enjoy!</li>
                    <br>
                </ol>
            </div>
        </div>
    </div>
</body>
{% endblock %}