{% extends "base.html" %}
{% block title %}Granny's Taco Soup - {% endblock %}
{% block content %}
<head>
    <style>

        .flex-container > div {
            margin: 20px;
        }

        .box{
            display: inline;
        }
        
        .box:hover {
            opacity: 1;
            transform: translateY(0);
            box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
        }

    </style>
</head>

<body>
    <div class="main">
        <div class="topButtons" style="display: inline; margin:auto;">
            {% include 'back_button.html' %}
            {% include 'sidebutton.html' %}
        </div>
        
        <h1 class="top">Granny's Taco Soup</h1>
        
        <div class="flex-container">
            <div class="box a" style="max-width: 600px;">
                <h3 style="margin-top: 0px;">
                    Ingredients
                </h3>
                <ul>
                    <!-- Add input elements with type checkbox and labels for each list item -->
                    <li><input type="checkbox" id="ingredient1"><label for="ingredient1">1 1/2 Pounds Ground Beef</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient2"><label for="ingredient2">1 Can Whole Kernal Corn</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient3"><label for="ingredient3">1 Can Pinto Beans</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient4"><label for="ingredient4">1 Small Can Green Chilies (Diced)</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient5"><label for="ingredient5">1 Package Taco Seasoning</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient6"><label for="ingredient6">1 Package Ranch Seasoning</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient7"><label for="ingredient7">1 Cup Chicken Broth</label></li>
                </ul>
            </div>
            <div class="box b">
                <h3 style="margin-top: 0px;">
                    Instructions
                </h3>
                <ol>
                    <li class="instruct">Cook ground meat until browned and drain grease.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Combine all ingredients, including liquid, and simmer at medium to low heat for 30 minutes.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Serve with cornbread.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Enjoy!</li>
                    <br>
                </ol>
            </div>
        </div>
    </div>
</body>
{% endblock %}