{% extends "base.html" %}
{% block title %}Buffalo Chicken Paninis - {% endblock %}
{% block content %}
<head>
    <style>

        .flex-container > div {
            margin: 20px;
        }
    
        .box{
            display: inline;
        }

        .box:hover {
            opacity: 1;
            transform: translateY(0);
            box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
        }

    </style>
</head>

<body>
    <div class="main">
        {% include 'back_button.html' %}
        <h1 class="top">Buffalo Chicken Paninis</h1>
        <div class="flex-container">
            <div class="box a" style="max-width: 600px;">
                <h3 style="margin-top: 0px;">
                    Ingredients
                </h3>
                <ul>
                    <!-- Add input elements with type checkbox and labels for each list item -->
                    <li><input type="checkbox" id="ingredient1"><label for="ingredient1">1 loaf of bakery bread, sliced</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient2"><label for="ingredient2">1 lb. grilled chicken, cut into bite-sized pieces or strips</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient3"><label for="ingredient3">1/2 cup of your favorite buffalo hot sauce</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient4"><label for="ingredient4">2 cups spinach leaves</label></li>
                </ul>
            </div>
            <div class="box b">
                <h3 style="margin-top: 0px;">
                    Instructions
                </h3>
                <ol>
                    <li class="instruct">Preheat your panini press or large skillet. Lightly grease with vegetable oil spray.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">In a bowl, toss grilled chicken with buffalo sauce; set aside.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Take two slices of bread. Place sandwich under panini press for about 5 minutes or until golden.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Slice in half and serve with your favorite chips.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Enjoy!</li>
                    <br>
                </ol>
            </div>
        </div>
    </div>
</body>
{% endblock %}