{% extends "base.html" %}
{% block title %}Mendicino Pasta - {% endblock %}
{% block content %}
<head>
    <style>

        .flex-container > div {
            margin: 20px;
        }

        .box{
            display: inline;
        }
        
        .box:hover {
            opacity: 1;
            transform: translateY(0);
            box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
        }

    </style>
</head>

<body>
    <div class="main">
        <div class="topButtons" style="display: inline; margin:auto;">
            {% include 'back_button.html' %}
            {% include 'sidebutton.html' %}
        </div>
        <h1 class="top">Mendicino Pasta</h1>
        <div class="flex-container">
            <div class="box a" style="max-width: 600px;">
                <h3 style="margin-top: 0px;">
                    Ingredients
                </h3>
                <ul>
                    <!-- Add input elements with type checkbox and labels for each list item -->
                    <li><input type="checkbox" id="ingredient1"><label for="ingredient1">1 lb Fettuccine Pasta</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient2"><label for="ingredient2">2 tbsp. Olive Oil</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient3"><label for="ingredient3">6 oz Italian Sausage, chopped (or 1 lb Ground meat)</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient4"><label for="ingredient4">1/2 Onion, chopped</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient5"><label for="ingredient5">1 tbsp. Garlic, minced</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient6"><label for="ingredient6">2 Tomatoes</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient7"><label for="ingredient7">4 cups Chicken Broth</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient8"><label for="ingredient8">Salt and Pepper to taste</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient9"><label for="ingredient9">[Optional] 4 tbsp. Basil, Chopped</label></li>
                    <hr class="ingredient-divider">
                    <li><input type="checkbox" id="ingredient10"><label for="ingredient10">[Optional] 1/2 cup White Wine</label></li>
                </ul>
            </div>
            <div class="box b">
                <h3 style="margin-top: 0px;">
                    Instructions
                </h3>
                <ol>
                    <li class="instruct">Heat oil in a large saucepan over high heat. Add sausage, onion, garlic, and tomatoes and sauté for 5 minutes.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Add white wine and chicken broth and bring to a boil.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Add basil and uncooked pasta to the mixture. Reduce heat and simmer for 4-6 minutes or until the pasta is cooked al dente.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Season to taste with salt and pepper.</li>
                    <br>
                    <hr class="ingredient-divider">
                    <br>
                    <li class="instruct">Enjoy!</li>
                    <br>
                </ol>
            </div>
        </div>
    </div>
</body>
{% endblock %}