:root {
    --primary-color: #ecedda;
    --primary-faded-color: #eceddadb;
    --secondary-color: #DDE7C7;
    --background-color: #fffff6;
    --font-color: #477463;
    --box-font-color: #ecedda;
}

:root.light-mode {
    /* Light color palette */
    --primary-color: #ecedda;
    --primary-faded-color: #eceddadb;
    --secondary-color: #DDE7C7;
    --background-color: #fffff6;
    --font-color: #477463;
    --box-font-color: #ecedda;
}

:root.dark-mode {
    /* Dark color palette */
    --primary-color: #477463;
    --primary-faded-color: #477463db;
    --secondary-color: #DDE7C7;
    --background-color: #1b2b25;
    --font-color: #ecedda;
    --box-font-color: #ecedda;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins';
}

.content{
    background-color: var(--background-color);
}

header{
    overflow: hidden;
    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    text-align: center;
    margin: 0 auto;
    margin-top: -21.44px;
    margin-bottom: -21.44px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

body{
    margin: 0px;
    background-color: var(--background-color);
}

nav{
    margin: 0 auto;
    margin-top: 20px;

    width: 100%;
    background-color: var(--primary-color);
    position: fixed;
    text-align: center;
    
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.main{
    margin: auto;
    color: var(--font-color);
}

.nameButton{
    color: var(--font-color);
    height: 42px;
    border: none;
    overflow: hidden;
    background-color: var(--primary-color);
    text-align: center;
    cursor: pointer;
}

.recipe{
    color: var(--font-color);
    height: 42px;
    border: none;
    background-color: var(--primary-color);
    text-align: center;
    cursor: pointer;
    min-width: 100px;
    border-radius: 5px;
}

.recipe:hover{
    background-color: var(--secondary-color);
    color: #477463;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 1px;
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    border-radius: 5px;
    color: var(--font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--secondary-color);
    color: #477463;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.top{
    margin: auto;
    margin-top: 30px;
    font-size: 30px;
    color: var(--font-color);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
    border-radius: 15px;
    padding: 20px;
    font-size: 150%;
    
    width: 40%;
    background-color: var(--primary-color);
    min-width: 140px;
}

.flex-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.flex-container > a {
    background-color: var(--primary-color);
    height: 500px;
    width: 500px;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Remove min-width */
    opacity: 0;
    transform: translateY(20px);
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
    background-color: var(--primary-color);
    color: var(--font-color);
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.2s ease;
    width: 100%;
    max-width: 1000px;
    font-size: 125%;
}

.box.visible {
    opacity: 1;
    transform: translateY(0);

    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.2s ease;
}

.box:hover{
    transform: translateY(-7px);
    box-shadow: rgba(0, 0, 0, 0.40) 5px 10px 8px;
}

.box:active {
    transform: translateY(-1px);
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
}

.title{
    color: var(--font-color); 
    width: 200px;
    margin: auto;
    border-radius: 15px;
    background-color: var(--primary-faded-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ingredient-divider {
    border: none;
    border-top: 2px solid var(--font-color); /* Set the desired color for the hr */
    margin: 5px 0; /* Add some margin above and below the hr to separate the items */
}

ul {
    text-align: left;
    list-style: none; /* Remove default bullet points from the list */
    padding-left: 0; /* Remove default padding from the list */
}

/* Style the checkbox */
ul li input[type="checkbox"] {
    margin-right: 10px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--font-color);
    border-radius: 3px;
    outline: none;
    cursor: pointer; /* Change cursor to a pointer when hovering over the checkbox */
    position: relative; /* Add relative positioning for pseudo-elements */
    padding-left: 25px; /* Add some padding to the left side of the checkbox to center it on the check mark */
    padding-top: 25px;
}

/* Style the custom checkbox when it's checked */
ul li input[type="checkbox"]:checked {
    background-color: var(--primary-color); /* Set the background color of the checked checkbox */
}

/* Style the check mark inside the checkbox */
ul li input[type="checkbox"]::before {
    width: 0px;
    height: 0px;
    content: "\2713"; /* Unicode character for check mark */
    position: absolute; /* Position the check mark */
    top: -20px; /* Adjust vertical position */
    left: -1px; /* Adjust horizontal position */
    font-size: 40px; /* Adjust the size of the check mark */
    color: var(--font-color); /* Set the color of the check mark */
    visibility: hidden; /* Hide the check mark by default */
}

ul li input[type="checkbox"]:checked::before {
    visibility: visible;
}

ul li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    text-decoration-color: var(--font-color);
}

ol {
    text-align: left;
    list-style: none;
    counter-reset: my-counter;
    padding-left: 30px;
}

.instruct {
    counter-increment: my-counter;
    position: relative;
    margin-bottom: 15px;
    padding-left: 20px;
}

.instruct::before {
    content: counter(my-counter);
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--font-color);
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--font-color);
}

.dark-mode-toggle {
    display: inline-block;
    position: relative;
}

.dark-mode-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--font-color);
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: -7px;
}

.toggle-button::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: transform 0.3s ease-out;
    transform: var(--indicator-translate, translate(0px, 0px)); 
}

.dark-mode-toggle input[type="checkbox"]:checked + .toggle-button {
    background-color: var(--font-color);
    /* Add this style to move the toggle to the other side when it's checked */
}

.diagonal-line {
    position: absolute;
    width: 3px;
    height: 40px;
    background-color: #477463;
    border-radius: 5px;
}

input[type="text"]{
    background-color: var(--font-color);
    color: var(--primary-color);
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.40) 2px 5px 8px;
    padding: 5px;
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.2s ease;
}

input[type="text"]:hover{
    box-shadow: rgba(0, 0, 0, 0.40) 5px 7px 8px;
}

input[type="text"]:focus{
    outline: 2px solid var(--primary-color);
    transform: translateY(-2px) scale(1.07);
    box-shadow: rgba(0, 0, 0, 0.40) 5px 7px 8px;
}

input[type="text"]::placeholder {
    color: var(--primary-color);
}

input[type="password"]{
    background-color: var(--font-color);
    color: var(--primary-color);
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.40) 2px 5px 8px;
    padding: 5px;
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.2s ease;
}

input[type="password"]:hover{
    box-shadow: rgba(0, 0, 0, 0.40) 5px 7px 8px;
}

input[type="password"]:focus{
    outline: 2px solid var(--primary-color);
    transform: translateY(-2px) scale(1.07);
    box-shadow: rgba(0, 0, 0, 0.40) 5px 7px 8px;
}

input[type="password"]::placeholder {
    color: var(--primary-color);
}

.find{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    text-align: center;
    margin: auto;
    width: 100%;

    background-color: rgba(0, 0, 255, 0.15);
    background-image: url('https://lh3.googleusercontent.com/pw/AIL4fc9JUH6bGtSw6Yq75A3itX2Cp79DLkgUVxIubXY4SfQi7KD8OXROe4fPeGIsVVXMsPG0foFzJ0OTL7TAnjrQmkAHCkXF6N3OmOWyPLXnx_vD47wFfUo=w2400');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 150%;
    z-index: 0;

    margin-top: -10px;
}

.search-container{
    opacity: 100%;
    padding-bottom: 20px;
    margin: auto;
}

.find .search-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    background: var(--font-color);
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 80px;
    border-radius: 10px;
    color: var(--primary-color);
    opacity: 100%;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.2s ease;
}

.find .search-container button:hover {
    background: var(--font-color);
    transform: translateY(-2px) scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.40) 2px 5px 8px;
}

.find .search-container button:active {
    transform: translateY(-2px) scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
}

.findTitle{
    color: var(--font-color); 
    width: 60%;
    margin: auto;
    border-radius: 15px;
    background-color: var(--primary-faded-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    min-width: 170px;
    padding-top: 10px;
    max-width: 1000px;
}

button{
    border: none;
}

.recipe-box{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: translateY(20px);
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
    background-color: var(--primary-color);
    color: var(--font-color);
    border-radius: 30px;
    padding: 20px;
    font-size: 150%;
    text-align: center;
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.2s ease;
    width: 100%;
    max-width: 1000px;
    display: inline;
    margin: 20px;
}

.instruct{
    margin: auto;
}

.topTitle{
    margin-top: 0px;
    margin: auto;
    font-size: 30px;
    color: var(--font-color);
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    font-size: 150%;
}

.results{
    display: none;
}

.recipe-container{
    display: none;
}

.results-container {
    display: none;
    flex-wrap: wrap;
    justify-content:center;
    max-width: 1200px;
    margin: auto;
}